
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel='stylesheet' href='/public/css/styles.css'/>
</head>
<body>
    <nav class="navigation-bar">
        <img class="logo" src="../public/imagesAudioAveTransparentBg.png">
        {{#if loggedIn}}
        <ul>
            <li><a href="profile">Profile</a></li>
            <li><a href="generator">Playlist Generator</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Get in Touch</a></li>
        </ul>
        {{/if}}

    
</nav>
    <main>
        {{{body}}}
        <script src="/public/js/loginRegister_client_side_validation.js"></script>
        
    </main>
</body>

</html>