<div class="landingPage">
    <div class="heading">
         <p id="firstLine">Get ready to discover new music 
        and share your finds!</p>
        <p id="secondLine"> Generate, post, 
        and give feedback on Spotify’s tunes while looking at your Spotify analytics.</p>
        </div>

    <p> Audio Ave will act as a companion app to Spotify and offers a variety of different features for the user. These include AI generated playlists, viewing personal statistics, saving playlists, and even a social media aspect, where users can choose to share playlists and view the playlists of others.</p>

        <a href="/login" class="loginButtonHome">Login</a>
        <a href="/register" class="registerButtonHome">Register</a>


</div>