<div class="landingPage">
    <div class="heading">
         <p id="firstLine">Get ready to discover new music 
        and share your finds!</p>
        <p id="secondLine"> Generate, post, 
        and give feedback on Spotify’s tunes while looking at your Spotify analytics!</p>
        </div>

        <a href="/login" class="loginButtonHome">Login</a>
        <a href="/register" class="registerButtonHome">Register</a>

</div>