<div class="Landing Page">
    <p>Get ready to discover new music 
        and share your finds! Generate, post, 
        and give feedback on Spotify’s tunes!</p>

        <div class="buttonCont">
                    <span>
                        <a href="/login" class="btn btn-light px-3 mx-1 border">Log In</a>
                        <a href="/register" class="btn btn-primary px-3 mx-1">Sign Up</a>
                    </span>
                </div>
</div>