<div class="landingPage">
    <p>Get ready to discover new music 
        and share your finds! Generate, post, 
        and give feedback on Spotify’s tunes!</p>

    <p>Audio Ave will act as a companion app to Spotify and offers a variety of different features for the user. These include AI generated playlists, viewing personal statistics, saving playlists, and even a social media aspect, where users can choose to share playlists and view the playlists of others.</p>

        <div class="buttonCont">
                    <span>
                        <a href="/login" class="btn btn-light px-3 mx-1 border">Log In</a>
                        <a href="/register" class="btn btn-primary px-3 mx-1">Sign Up</a>
                    </span>
                </div>
</div>