 <div class="loginBox">

 <form id="login-form" method="POST" action="/login">
 <p> Welcome to AudioAve, we're happy to see you here!</P>
        <div id="loginUname">
            <label for="username">Username</label>
            <br>
            <input type="text" id="username" name="username" placeholder="Username">
            <p id="unameError"></p>
        </div>
        
        <div id="loginPass">
            <label for="password">Password</label>
            <br>
            <input type="password" id="password" name="password" placeholder="Password">
            <p id="pswdError"></p>
        </div>
        {{#if error}}
        <p id="invalidCred">{{error}}</p>
        {{/if}}
        
        <div class="loginButton">
            <button type="submit" name="submitButton" id="submitButton">Login</button>
        </div>
    </form>
    </div>
    <div class="regCont">
        <p>Don't have an account? <a class="registerRef" href="/register">Click here to register!</a></p>
    </div>
