<section class="registerBox">
<form id="register-form" name="register-form" action="/register" method="POST">
   
    <div class="PasswordReq">
        <p>Your password must include:</p>
    <ul>
        <li>At least one uppercase letter</li>
        <li>At least one lowercase letter</li>
        <li>At least one special character</li>
        <li>At least one number</li>
    </ul>
    {{#if error}}
        <div class="errorDiv">
            {{{error}}}
        </div>
    {{/if}}
    </div>
       <div class="ManualEntry">
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" name="firstName" placeholder="First Name">
            <p id="fNameError"></p>

            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" name="lastName" placeholder="Last Name">
            <p id="lNameError"></p>

            <label for="email">Email</label>
            <input type="text" id="email" name="email" placeholder="Email">
            <p id="emailErr"></p>

             <label for="username">Username</label>
             <input type="text" id="username" name="username" placeholder="Username">
             <p id="unameError"></p>

             <label for="password">Password</label>
             <input type="password" id="password" name="password" placeholder="Password">
             <p id="pswdError"></p>

            <label for="confirmPassword">Confirm Password</label>
            <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Retype Password">
            <p id="pswdNotConfirmed"></p>
        </div>

        <div class="checkbox">
            <label for="confirmAge"><input type="checkbox" id="age_confirm"> I confirm that I am at least 13 years of age</label>
            <p id="confirmAgeError"></p>
        </div>


        <div class="regButton">
             <button type="submit" id="submitButton" name="submitButton">Register</button>
        </div>
    </form>
    </section>
    <div class="loginCont">
        <p><a href="/login">Already have an account? Click here to log-in</a></p>
    </div>

    