/* make each playlist post on socialFeed "clickable" (click on the div to view the playlist) */
div.playlist {
  background-color: #f00;
  width: 200px;
  height: 200px;
}
a.fill-div {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.navigation-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:rgb(5, 5, 5);
  color: white;
  padding: 10px;
}

.logo {
  width: 150px; 
  height: auto;
  margin-bottom: 20px;
}

.navigation-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navigation-bar ul li {
  margin-right: 20px;
  width: 300px; 
  text-align: center; 
}

.navigation-bar ul li:last-child {
  margin-right: 0;
}

.navigation-bar a {
  color: white;
  font-size: 30px;
  text-decoration: none;
}

.navigation-bar a:hover {
  color:rgb(28, 185, 84);
}

.navigation-bar ul li:nth-child(2) {
  flex-grow: 1; 
}

body.playlist-page {
  background-color: rgb(25, 25, 25);
  color: white;
}
.playlist-page h1 {
  color: rgb(28, 185, 84);
}
.playlist-page h1,
.playlist-page p,
.playlist-page form {
  margin-left: 20px;
}
.track-list {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 20px;
}

.track-list img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.track-list h2,
.track-list p {
  margin: 0;
}

.track-list h2 {
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
  color: rgb(28, 185, 84);
}

.track-list p {
  margin-right: 10px;
}

.playlist-page ol {
  counter-reset: item;
  padding-left: 0;
}

.track-list::before {
  counter-increment: item;
  content: counter(item);
  margin-right: 10px;
}

#deleteForm {
  margin-top: 20px;
}

.gen-page {
  background-color: rgb(25, 25, 25);
  color: white;
  font-size: 25px;
}

.gen-page .container {
  display: flex;
  flex-direction: row;
}


body.del-page {
  background-color: rgb(25, 25, 25);
  color: white;
}
.del-page h1,
.del-page p {
  margin-left: 20px;
}
